body {
    width: 100%;
    padding: 0px;
    margin: 0 auto;
    overflow: auto;
    line-height: 25px;
    background-color: black;
}
* {
    position: relative;
    box-sizing: border-box;
}
.container-wrapper, .jumbotron, .panel-default {
    border-radius: 1%;
    text-shadow: 2px 2px 4px #000000; 
    color: #fff;
}
.container-wrapper {
    background-image: url(../images/background3.jpg) !important;
    background-size: cover !important;
    width: 96%;
    max-width: 940px;
    height: 100%;
    /*max-height: 1350px;*/
    margin: auto;
    margin-top: 2% !important;
    border: 2px solid snow;
}
.jumbotron, .panel-default {
    max-width: 900px;
    height: 100%;
    /*max-height: 1300px;*/
    background-color: rgba(0,0,0,.4);
    border-color: transparent;
    margin-top: 2%;
}
h1, h2, h3, h4 {
    text-shadow: 2px 2px 4px #000000;
    color: snow !important;
}
h3 {
    font-size: 20px !important;
    text-align: center;
}
hr {
    border-top: 1px solid grey !important;
}
a:hover {
    color: snow !important;
}
select, label, input, fieldset{
    margin: auto;
    width: 500px !important;
    text-align: center;
    display: block;
}
select {
    width: 300px !important;
}
select, input {
    background-color: rgba(0,0,0,.4) !important;
    color: snow !important;
    margin-bottom: 1%;
}

.links {
    color: paleturquoise !important;
}

.btn {
    border-color: snow !important;
    background-color: rgba(0,0,0,.4) !important;
}

.btn:hover {
    background: #000 !important;
    color: snow !important;
}

input:focus,select:focus{
    background: rgba(105, 105, 105, .5); 
    border-color: paleturquoise !important;
    text-align: center;
}

select option:hover {
    background-color: yellow !important;
    text-align: center;
}

